/ojdbc14.jar
/commonj.sdo-2.1.1.jar
/activation-1.1.1.jar
/commons-beanutils-1.9.4.jar
/commons-lang3-3.8.1.jar
/commons-text-1.8.jar
/javaee-api-7.0.jar
/javax.json-1.0.4.jar
/jaxb-api-2.3.0.jar
/jaxb-core-2.3.0.jar
/jaxb-impl-2.3.0.jar
/mysql-connector-java-5.1.38.jar
/stringtemplate-3.2.jar
